/* "all elements" (a universal selector) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: lightgray;
  }

  #header {
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
  }