/* General styling applied to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: lightgray;
  }

  /* push the header down from the very top of the page */
  header {
    margin-top: 50px;
  }

  #header-h1 {
    font-size: 380%;
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
    margin: 30px 0px 30px 0px;
  }

  #header-button, #display-on-click {
    display: none;
  }
  
  #label {
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 125px;
  }

  #label:hover {
    color: white;
  }
  
  #display-on-click {
    display: none;
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    z-index: 99;
    padding: 20px;
  }
  
  #header-button:checked~#display-on-click {
    display: block;
    background-color: antiquewhite;
    font-family: 'Original Surfer', cursive;
    font-size: 30px;
    border-radius: 25px;
  }

  #header-h2 {
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
    margin: 30px 0px 5px 0px;
  }
  
  /* styling the max score div  */
  #max-score-div {
    margin: 50px auto;
    width:200px;
    height: auto;
    background-color: antiquewhite;
  }
  
  #max-score {
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
  }

  /* Styles for the main game console */
  #game {
    height: 31.25em;
    width: 31.25em;
    background-color: #101010;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 50%;
    margin-top: 20px;
  }

  .colors {
    height: 13.12em;
    width: 13.12em;
    position: absolute;
    cursor: pointer;
  }

  /* each individual color styling */
  #red {
    background-color: darkred;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;
  }
  
  #green {
    background-color: darkgreen;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;
  }
  
  #yellow {
    background-color: goldenrod;
    bottom: 1.87em;
    left: 1.87em;
    border-radius: 0 0 0 13em;
  }

  #blue {
    background-color: darkblue;
    bottom: 1.87em;
    right: 1.87em;
    border-radius: 0 0 13em 0;
  }
  
  /* Styling of the inner part with Start button and count display */
  #inner-circle {
    position: absolute;
    content: "";
    background-color: gray;
    height: 13.75em;
    width: 13.75em;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border:14px solid black;
  }

  /* Styling of game name in the middle of console (idea from freecodeinstitute tutorial) */
  #game-name {
    font-family: 'Original Surfer', cursive;
    color: lightgrey;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }

  /* Styling of count display in the middle of console */
  #count {
    background-color: #330000; /* similar color of the real Simon game */
    color: red; 
    font-family: courier; 
    font-size: 1.5em;
    border: 3px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 78%;
    left: 50%;
    z-index: 1;
    height: 1.7em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }
  
  /* Styling of start button in the middle of console */
  #start-button {
    background-color: lightgray;
    font-size: 1.5em;
    border: 3px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }

  #start-button:hover {
    color: white;
  }

  /* If screen width size smaller than 550px OR height size smaller than 500px, resize game area to fit screen */
@media screen and (max-width: 578px), (max-height: 500px) {
  #game {
    height: 22.25em;
    width: 22.25em;
    top: 350px;
  }

  .colors {
  height: 8.8em;
  width: 8.8em;
  position: absolute;
  cursor: pointer;
  }

  #inner-circle {
    height: 11.75em;
    width: 11.75em;
  }

  #game-name {
    font-size: 1.5em;
  }

  #header-h1 {
    font-size: 100%;
    font-family: 'Original Surfer', cursive;
    margin: 10px 0px 10px 0px; 
  }

  #display-on-click {
    width: 100%;
  }

  #label {
    font-size: 25px;
    top: 80px;
  }

  #header-button:checked ~ #display-on-click {
    font-size: 20px;
  }

  #header-h2 {
    font-size: 80%;
     margin: 10px 0px 10px 0px; 
  }

  #max-score {
    font-size: 80%;
  }
}