/* "all elements" (a universal selector) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: lightgray;
  }

  #header {
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
  }

  #game {
    height: 31.25em;
    width: 31.25em;
    background-color: #101010;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 20px;
  }

  .colors {
    height: 13.12em;
    width: 13.12em;
    position: absolute;
    cursor: pointer;
  }

  #red {
    background-color: #027802;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;
  }
  
  #green {
    background-color: #950303;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;
  }
  
  #blue {
    background-color: #01018a;
    bottom: 1.87em;
    right: 1.87em;
    border-radius: 0 0 13em 0;
  }
  
  #yellow {
    background-color: #919102;
    bottom: 1.87em;
    left: 1.87em;
    border-radius: 0 0 0 13em;
  }

  #inner-circle {
    position: absolute;
    content: "";
    background-color: gray;
    height: 13.75em;
    width: 13.75em;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border:14px solid black;
  }

  #game-name {
    font-family: 'Original Surfer', cursive;
    color: lightgrey;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }

  #count {
    background-color: lightgray;
    font-size: 1.5em;
    border: 3px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 78%;
    left: 50%;
    z-index: 1;
    height: 1.7em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }
  
  #start-button {
    background-color: lightgray;
    font-size: 1.5em;
    border: 3px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 4em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }